.header {
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
}
.logo {
    margin-left: 10px;
}
.nav-items {
    display: flex;
}

.nav-items ul, li, a {
    list-style-type: none;
    color: #000;
    text-decoration: none;
    margin: 5px;
}