.home {
    background: #000;
    /* background: linear-gradient(300deg, deepskyblue, darkviolet, blue); */
    background: linear-gradient(300deg, rgb(0, 120, 160), rgb(84, 0, 120), rgb(0, 0, 120));
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.home section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.list-language {
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

@media (max-width: 600px) {
    .home section {
        display: flex;
        flex-direction: column;
    }
}