.home {
    background: rgb(119, 0, 255);
}

.home section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.list-language {
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

@media (max-width: 600px) {
    .home section {
        display: flex;
        flex-direction: column;
    }
}