.card-about-component {
    width: 250px;
    height: 300px;
    background: #07182E;
    position: relative;
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
}

.card-about-component h2 {
    z-index: 1;
    color: white;
    font-size: 2em;
}

.card-about-component p {
    color: white;
    text-align: center;
    font-size: 0.9em;
    z-index: 1;
}

.card-about-component::before {
    content: '';
    position: absolute;
    width: 100px;
    background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(212, 0, 255));
    height: 130%;
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
}

@keyframes rotBGimg {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.card-about-component::after {
    content: '';
    position: absolute;
    background: #07182E;
    inset: 5px;
    border-radius: 15px;
}

.card-about-component:hover:before {
    background-image: linear-gradient(180deg, rgb(0, 255, 21), rgb(0, 255, 21));
    animation: rotBGimg 3.5s linear infinite;
}