.blog-component {
    display: flex;
    justify-content: center;
}

.listBlog {
    color: #000;
}

.header-blog {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.container-article {
    display: grid;
    grid-template-columns: repeat(4, 3fr);
    gap: 20px;
}

@media (max-width: 600px) {
    .header-blog{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .container-article{
        display: flex;
        flex-direction: column;
    }
}